<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Building Gorgeous 3D maps with eegeo.js and Leaflet</title>
  </head>
  <body>
    <center>
    <h3>2D Map Methods</h1>
    <div id="map" style="width: 900px; height: 500px;"></div>
    <a href = "<%= root_url %>">Prevoius</a> | <a href = "<%= london_3d_map_method_handler_index_url %>">Next</a> 
    <script>
    var map = L.map('map', {
      center: [18.561232, 73.786042],
      zoom: 17
    });
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    L.marker([18.561232, 73.786042]).addTo(map);
    L.polyline([
      [18.561478, 73.786412],
      [18.561460, 73.786123],
      [18.561522, 73.785845],
      [18.561567, 73.785627],
      [18.561622, 73.785151],
      [18.561660, 73.784741],
      [18.561765, 73.784420],
      [18.561901, 73.784224],
      [18.562125, 73.783976]
    ]).addTo(map);
    L.circle([18.561232, 73.786042], 100).addTo(map);
    map.openPopup("Zerodha Office", [18.562125, 73.783976], { elevation: 260.0 });
    </script>
  </body>
</html>
