<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Building Gorgeous 3D maps with eegeo.js and Leaflet</title>
  </head>
  <body>
    <center>
    <h3>2D Map</h1>
    <div id="map" style="width: 900px; height: 500px;"></div>
    <a href = "<%= london_3d_map_method_handler_index_url %>">Upgrade</a>
    <script>
    var mumbai = L.marker([19.0760, 72.8777]).bindPopup('This is Mumbai'),
        pune    = L.marker([18.5204, 73.8567]).bindPopup('This is Pune'),
        nashik    = L.marker([19.9975, 73.7898]).bindPopup('This is Nashik'),
        nagpur    = L.marker([21.1458, 79.0882]).bindPopup('This is Nagpur');

    var cities = L.layerGroup([mumbai, pune, nashik, nagpur]);

    var grayscale = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                    id: 'MapID',
                    attribution:  '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'}),
        streets   = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                    id: 'MapID',
                    attribution:  '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'});

    var map = L.map('map', {
        center: [20.016142, 75.795583],
        zoom: 7,
        layers: [grayscale, cities]
      });

    var baseMaps = {
      "Grayscale": grayscale,
      "Streets": streets
    };

    var overlayMaps = {
      "Cities": cities
    };

    L.control.layers(baseMaps, overlayMaps).addTo(map);

    var baseMaps = {
      "<span style='color: gray'>Grayscale</span>": grayscale,
      "Streets": streets
    };

    </script>
  </body>
</html>
